.Projects {
  max-width: 80vw;
  .categorie {
    background-color: #2f3136;
    border-radius: 20px;
    padding-bottom: 16px;
  }
  .form-check {
    display: inline-block;
    padding: 4px;
    margin-bottom: 16px;
    .form-check-input {
      margin-left: 4px;
      margin-right: 4px;
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      top: 4px;
      border: none;
    }
    .form-check-label {
      display: inline;
      padding: 8px;
      background-color: #008cff;
      border-radius: 20px;
      cursor: pointer;
    }
  }
  .projectContainer {
    display: flex;
    column-count: 2;
    text-align: center;
    flex-flow: wrap row;
  }
  @media (max-width: 1024px) {
    .projectContainer {
      column-count: 1;
      .project {
        min-width: 100%;
        margin-top: 16px;
      }
    }
  }
  .project {
    width: 46%;
    min-width: 250px;
    display: inline-block;
    flex-direction: column;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 12px;
    border: #008cff 2px solid;
    border-radius: 20px;
    box-shadow: 3px 3px 6px -3px #2c2c2c;
    background-color: #40444b;
    .hero-section {
      h3 {
        margin-bottom: 8px;
      }
      img {
        width: 288px;
        max-width: 100%;
        border-radius: 16px;
      }
    }
  }
  .info {
    .discription {
      word-wrap: break-word;
      font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    }
    .link {
      margin: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        .demo {
          color: #242424;
          transition: 0.5s;
          background-color: #ffb819;
          padding: 0.5rem;
          border-radius: 2rem;
          &:hover {
            background-color: #ffe30d;
          }
        }
        .icon {
          margin-left: 0.25rem;
          margin-right: 0.25rem;
          font-size: 2rem;
          color: #8e9297;
          transition: 0.3s;
        }
        .gh:hover {
          color: #7a00df;
        }
      }
    }
    .tag {
      display: inline-block;
      border: 2px solid #2c2c2c;
      padding: 4px;
      margin-left: 8px;
      margin-bottom: 8px;
    }
  }
}

// .projectContainer {
//   flex-flow: wrap row;
//   justify-content: left;
//   justify-self: flex-start;
//   align-content: center;
//   display: flex;
//   text-align: left;
//   .projectCard {
//     background-color: #40444b;
//     box-shadow: 3px 3px 6px -3px #2c2c2c;
//     border-radius: 15px;
//     min-width: min-content;
//     padding: 0.4rem;
//     margin: 1rem;
//     flex: 0 1 700px;
//     .workIMG {
//       float: left;
//       min-width: 100px;
//       position: relative;
//       width: 200px;
//       img {
//         max-width: 100%;
//         display: block;
//       }
//     }
//     .workContent {
//       display: flex;
//       padding: 0.5rem;
//       flex-direction: column;
//       min-width: 200px;
//       h2 {
//         color: #ffb819;
//       }
//       a {
//         text-align: right;
//         .icon {
//           font-size: 1.5rem;
//           color: #8e9297;
//           transition: 0.3s;
//           .gh:hover {
//             color: #7a00df;
//           }
//         }
//       }
//     }
//     .tagList {
//       display: flex;
//       flex-flow: wrap row;
//       .tag {
//         background-color: #2f3136;
//         border-radius: 1rem;
//         padding: 0.3rem;
//         margin: 0.1rem;
//         white-space: nowrap;
//       }
//     }
//   }
// }
// @media screen and (max-width: 411px) {
//   .projectCard {
//     max-width: none;
//   }
// }
