.projectContainer {
  flex-flow: wrap row;
  justify-content: left;
  justify-self: flex-start;
  align-content: center;
  display: flex;
  text-align: left;
  .projectCard {
    background-color: #40444b;
    box-shadow: 3px 3px 6px -3px #2c2c2c;
    border-radius: 15px;
    min-width: min-content;
    padding: 0.4rem;
    margin: 1rem;
    flex: 0 1 700px;
    .workIMG {
      float: left;
      min-width: 100px;
      position: relative;
      width: 200px;
      img {
        max-width: 100%;
        display: block;
      }
    }
    .workContent {
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      min-width: 200px;
      h2 {
        color: #ffb819;
      }
      a {
        text-align: right;
        .icon {
          font-size: 1.5rem;
          color: #8e9297;
          transition: 0.3s;
          .gh:hover {
            color: #7a00df;
          }
        }
      }
    }
    .tagList {
      display: flex;
      flex-flow: wrap row;
      .tag {
        background-color: #2f3136;
        border-radius: 1rem;
        padding: 0.3rem;
        margin: 0.1rem;
        white-space: nowrap;
      }
    }
  }
}
@media screen and (max-width: 411px) {
  .projectCard {
    max-width: none;
  }
}
