@import './styles/layout';
@import './styles/typography';
@import './styles/navbar';
@import './styles/title';
@import './styles/container';
@import './styles/project';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size:1.1rem;
	font-weight:300;
	overflow-y: scroll;
	background-color: #36393F;
}
h1{
	font-weight:500;
}
h2,h3,h4,h5,h6{
	font-weight:300;
}

body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #36393f;
	
}
body::-webkit-scrollbar
{
	width: 12px;
	background-color: #36393f;
	
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2f3136;
	
}
@media screen and (max-width: 429px) {
	html{
		font-size: 80%;
	}
}